header {
  background-image: url('https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center;
  padding-top: 8em;
  margin-bottom: 80px;

  h1 {
    font-size: 8rem;
  }
}

nav {
  display: flex;
  justify-content: center;

  li {
    text-transform: uppercase;
  }

  a:hover {
    border-color: white;
  }
}

button {
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  border-color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  height: 300px;
  padding: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.9) 100%);
}

.card-header-actions {
  display: flex;
  justify-content: space-evenly;
}

.card-header-description {
  grid-column: 1 / 3;
}